---
import Layout from "../layouts/Layout.astro"
import Tag from "../components/projects/Tag.astro";
import TagList from "../components/projects/TagList.astro";

const {frontmatter} =  Astro.props;
---


<style>
    /* DON'T REMOVE THIS!!!! MIGHT (MOST LIKELY) USE THIS PALATTE LATER!!
	:root{
        --primary-clr: #171717;
        --primary-clr-dark: #111111;
        --primary-clr-light: #303030;

        --accent-clr: #51e530;
        --accent-clr-dark: #29b90a;

        --secondary-clr: #626D58;

        --white-clr: #eaeaea;
    } */

	.blog--wrapper{
		margin-inline:auto;
		min-height: 100vh;
	}

	.article--thumbnail{
		width:100%;
	}

	.project{
		padding: var(--spacing-3xl) 0;
		font-size: 1.125rem;
	}

	.project--header{
		margin-bottom: var(--spacing-3xl);
	}
	
	.project--headline{
		max-width: var(--site-wrapper-width-sm);
		margin-bottom: var(--spacing-xxl);
		

		.project--title{
			font-size: var(--font-size-header-xl);
			margin-bottom: var(--spacing-sm);
		}
		.project--description{
			font-weight: 400;
			margin-bottom: var(--spacing-md);
		}
		
		.project--date{
			font-weight: 700;
			opacity: var(--text-opacity-low);
		}
	}

	.project--content{
		display:flex;
		flex-direction:column;
		gap: var(--spacing-2xl);

		padding-bottom: var(--spacing-3xl);

		p{
			font-weight: 400;
		}
	}

	.project--footer{
		width: 100%;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: var(--spacing-3xl);

		.project-options{
			gap: var(--spacing-md);
		}
	}

	.article--thumbnail{
		border-radius: 1.25rem;
	}

	.link--project{
		color: var(--accent-clr);
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

<Layout title={`Project: ${frontmatter.title}`}>
	<article class="project blog--wrapper site-container">
		<!-- Reminder to add alt tags -->

		{console.log(frontmatter)}
		<div class="project--header">
			<div class="project--headline">
				<h1 class="project--title">{frontmatter.title}</h1>
				<p class="project--description">{frontmatter.description}</p>
				
				<p class="project--date">{frontmatter.date}</p>
			</div>

			<div class="project--footer flex-row">
				<TagList tags={frontmatter.tags}/>
				
				<div class="project-options">
					<ul class="project-options--inner flex-row">
						{frontmatter.github != null && frontmatter.github !== '' && (
							<li class="option-item">
								<a href={frontmatter.github} target="_blank" rel="noopener noreferrer" class="link--demo">See Github</a>
							</li>
						)}
						{frontmatter.liveLink != null && frontmatter.liveLink !== '' && (
							<li class="option-item">
								<a href={frontmatter.liveLink} target="_blank" rel="noopener noreferrer" class="link--project">See Project</a>
							</li>
						)}
					</ul>
				</div>
			</div>
			<div class="project--image">
				<img class="article--thumbnail" src={frontmatter.image} alt={frontmatter.title} />
			</div>
		</div>


		<div class="project--content">
			<slot />
		</div>
	</article>
</Layout>
